@use "sass:color";

$govently-primary: #4CA6A8;
$govently-secondary: #B9A5D9;
$govently-light-bg: #f5f5f7;

.signup-wrapper {
  max-width: 400px;
  margin: auto;
}

.signup-wrapper h3 {
  font-weight: 600;
}

.signup-wrapper .form-label {
  font-size: 0.9rem;
}

.signup-wrapper .btn-primary {
   background-color: $govently-secondary !important;
    border-color: $govently-secondary !important;
}

.signup-wrapper .btn-primary:hover {
  background-color: darken($govently-secondary, 10%);
  border-color: darken($govently-secondary, 10%);
}

a {
    cursor: pointer;
    text-decoration: none;
    color: $govently-secondary !important;

    &:hover {
      text-decoration: underline;
    }
  }

