@use "sass:color";

$govently-primary: #0fb9c8;
$govently-secondary: #ff7ab6;
$govently-light-bg: #ffffff;

.signup-wrapper {
  max-width: 400px;
  margin: auto;
}

.signup-wrapper h3 {
  font-weight: 600;
}

.signup-wrapper .form-label {
  font-size: 0.9rem;
}

.signup-wrapper .btn-primary {
   background-color: $govently-secondary !important;
    border-color: $govently-secondary !important;
}

.signup-wrapper .btn-primary:hover {
  background-color: darken($govently-secondary, 5%);
  border-color: darken($govently-secondary, 5%);
}


